/* h1{

    background-color:lightblue;
    height: 30%;
 
}
.RR{

    background-color: aquamarine;
    height: 100%;
    width: 80%;
    margin: auto;
    padding: 1%;
    
    
}
div{
    background-color: lightcoral;
}

button{
    background-color: white;
    border-radius: 100%;
    
} */